body{
    width:100%;
    position:relative;
    margin:auto;
}

/******** Menu ********/
.menu {
    width:100%;
    padding: 9px 0 10px;
    margin:0;
    position: relative;
    background-color: yellowgreen;
    font-family: 'Economica', Curlz MT;
    z-index: 99;
    text-align: center;
    position: relative;
}
.menu ul {
    position: absolute;
    display: none;
}
.menu li {
    display: inline-block;
    float: none;
    font-size: 30px;
    line-height: 15px;
    position:relative;
    cursor: pointer;
}
.menu li a {
    text-align: center;
    display: inline-block;
    padding: 10px 24px 11px;
    position: relative;
    color: #fff;
    text-decoration:none;
}


.menu li:hover {
    background-color:#eecaf0;
    display: inline-block;
    float: none;
    font-size: 30px;
    line-height: 15px;
    position:relative;
}
.category img{
    cursor: pointer;
}