.body{
    background-image: url("../img/background.jpg");
    background-size: 100%;
}

.welcome{
    width: 960px;
    background-color: transparent;
    font-size: medium;
    font-family: Garamond;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 200px;
    font-family: Georgia;
    overflow: auto;
}

.welcome h1{
    font-size: 30px;
    color: green;
}

.welcome p{
    font-size: 20px;
    color: forestgreen;
}

.welcome h2{
    font-size: 25px;
    font-weight:bolder;
    margin-top: 40px;
}

.welcome h3{
    font-size: 25px;
    font-weight:bold;
}
